<h1>Register Page</h1>
<form class="form m-md-5" action="/" method="post">
<input class="form-control" type="text" name="userame"/>
<input class="form-control" type="text" name="password"/>
<button type="submit">Submit</button>
</form>
