<h1>Register Page</h1>
<form class="form m-md-5" action="Register" method="post">
    <input class="form-control" type="text" name="username" />
    <input class="form-control" type="text" name="password" />
    <button type="submit">Submit</button>
</form>
