@{
    ViewData["Title"] = "Secured Page";
}

<div class="text-center">
    <h1 class="display-4">Secure Page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<h2>@User.Identity.Name</h2>
<ul>
@foreach (var item in User.Claims)
{
    <li>@item.Type : @item.Value</li>
}
</ul>